:root {
	font-family: "IBM Plex Sans", "IBM Plex Sans SC", "Segoe UI", sans-serif;
	min-height: 100%;
}

body {
	margin: 0;
	min-height: 100vh;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.font-mono {
	font-family: "IBM Plex Mono", "SFMono-Regular", "Menlo", monospace;
}
